.app-header {
  background-color: #282c34;
  min-height: 0.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-footer {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.app-left {
  background-color: #282c34;
  color: white;
}
.app-center {
  background-color: #282c34;
  min-height: 80vh;
  color: white;
}
